{% extends 'user_management/base.html' %}
{% load static %}

{% block title %}
<title>Redefine your password</title>
{% endblock %}

{% block content %}
<h1>Redefine your password</h1>
{% if validlink %}
<p>Please, enter your new password twilce: </p>
<form method="POST">
    {{form.as_p}}
    {%csrf_token%}
    <p>
        <input type="submit" value="Change my password">
    </p>
</form>
{% else %}
<p>The redefining link was invalid, possibility because it has already been used.
    Solicite a new redefining password. </p>
{% endif %}
{%endblock%}