{% extends 'user_management/base.html' %}
{% load static %}

{% block title %}
<title>Register</title>
{%endblock%}

{% block content %}
<form action="{% url 'user_management:register_user' %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Username..." name="username">
    <br>
    <input type="email" placeholder="Email..." name="email">
    <br>
    <input type="password" placeholder="Password" name="password">
    <br>
    <input type="submit" value="Register">
</form>

{%endblock%}